.calculator {
	border: 1px solid black;
	padding: 10px;
	width: 200px;
	margin: 40px auto;
}

.show-results {
	width: 100%;
	height: 80px;
	border: 1px solid black;
	font-size: 25px;
	text-align: right;
	p {
    	margin: 47px 7.7px;
	}
}

.buttons {
	height: 300px;
	width: 100%;
	border: 1px solid black;
}

.each-button {
	display: inline-block;
	margin: 7.7px;
	border: 1px solid black;
	height: 40px;
	width: 32px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
}